{% extends 'base.html.twig' %}

{% block title %}Edit Location{% endblock %}

{% block body %}
    {% embed "tools/card.html.twig" %}
        {% block card_title %}Create new Location{% endblock %}
        {% block card_tools %}
            {{ include('location/_delete_form.html.twig') }}
            <a href="{{ path('app_location_index') }}">back to list</a>
        {% endblock %}
        {% block card_body %}
            {{ include('location/_form.html.twig', {'button_label': 'Update'}) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
